<section>
  <form 
    class="login-form" 
    fxLayout="column" 
    fxLayoutGap="20px" 
    fxLayoutAlign="center center" 
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input 
        matInput 
        email required
        type="email" 
        formControlName="email" 
        placeholder="email"
      >
      <mat-hint>{{ loginForm.value.email }}</mat-hint>
    </mat-form-field>
  
    <mat-form-field>
      <input 
        matInput 
        password required
        type="password" 
        formControlName="password" 
        placeholder="password"
      >
      <mat-hint></mat-hint>
    </mat-form-field>
    <button 
      mat-raised-button
      type="submit" 
      color="primary"
      [disabled]="loginForm.invalid"
      *ngIf='!(isLoading$ | async)'
    >
      Sign In
    </button>
    <mat-spinner *ngIf='isLoading$'></mat-spinner>
  </form>
</section>
